        /*Auhtor: Celine Tran*/
        
        body {
            background-image: url('../img/frowning.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            margin: 10px;
        }
        
        footer {
            display: flex;
            align-items: flex-end;
            margin-top: auto;
        }
        
        h1 {
            display: flex;
            font-size: 35px;
            font-family: 'Architects Daughter', cursive;
            color: white;
            justify-content: center;
            text-align: center;
        }
        
        html {
            width: 100%;
            height: 100%;
        }
        
        #quote_container {
            display: flex;
            align-content: center;
            background-color: rgba(122, 119, 119, 0.329);
            width: fit-content;
            padding: 10px;
            margin: auto;
        }
        
        #errorOccur {
            background-color: rgb(255, 255, 0);
            color: rgb(161, 19, 19);
            width: fit-content;
            font-size: x-large;
        }
        
        button:hover {
            background-color: #9c9eac;
        }
        
        button {
            padding: 10px;
            border: none;
            background-color: #5f6ec7;
            color: #fff;
            font-weight: 600;
            border-radius: 5px;
            margin: inherit;
        }
        
        footer {
            color: cornsilk;
            position: fixed;
            bottom: 0;
            font-size: larger;
        }